<form method="POST" class="flex flex-col gap-4 contact-form max-w-2xl">
    {{ form.hidden_tag() }}
    <div class="flex flex-row gap-4 justify-between">
        <p class="text-xl font-heading my-2">{{ form.name.label }} {{ form.name(class="form-control") }}</p>
        <p class="text-xl font-heading my-2">{{ form.email.label }} {{ form.email(class="form-control") }}</p>
    </div>
        <p class="text-xl font-heading my-2">{{ form.message.label }} {{ form.message(class="form-control", rows="5") }}</p>
        <p class="text-xl font-heading my-2 flex justify-end">{{ form.submit(class="w-3xs bg-blue-700 text-white") }}</p>
</form>

<!-- Flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}