<section class="my-5">
            <table class="table-auto w-full border-collapse border border-gray-300">
                <thead>
                <tr>
                    <th class="px-4 py-2 border border-gray-300 bg-gray-200">Language</th>
                    <th class="px-4 py-2 border border-gray-300 bg-gray-200">Context</th>
                    <th class="px-4 py-2 border border-gray-300 bg-gray-200">Notes</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">JavaScript</td>
                        <td class="px-4 py-2 border border-gray-300">14+ years of frontend development</td>
                        <td class="px-4 py-2 border border-gray-300">It goes without saying that, as a frontend developer, JavaScript is my home. It isn't my favorite language, but I come back to it over and over again because I'm used to its quirks. It really has come a long way since I first started using it.</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">HTML</td>
                        <td class="px-4 py-2 border border-gray-300">See above</td>
                        <td class="px-4 py-2 border border-gray-300">This is another language that's come a long way. It's hard to overstate how big a deal the introduction of semantic HTML was for a number of reasons, not the least of which is accessibility. Also, I think the claim can be made that HTML is as effective a frontend application language as JavaScript simply based on what modern W3C-compliant browsers are capable of doing with it.</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">CSS</td>
                        <td class="px-4 py-2 border border-gray-300">See above above</td>
                        <td class="px-4 py-2 border border-gray-300">If you'd asked me what I thought about CSS maybe seven years ago I wouldn't have been able to tell you without profanity. Partly because I was building for older browsers, I wasn't able to take advantage of some of the really amazing developments in CSS such as Flexbox. It really is incredible what you can do just with styling rules these days, although CSS is still the most complicated language in computer science.</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Node</td>
                        <td class="px-4 py-2 border border-gray-300">Some professional work, some personal projects</td>
                        <td class="px-4 py-2 border border-gray-300">Not much to say about Node, apart from being very relieved that modern Node is basically the same as JavaScript and works with TypeScript. Being able to move seemlessly from frontend to backend is a huge multiplier, and I am surprised more companies don't take advantage of that.</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">TypeScript</td>
                        <td class="px-4 py-2 border border-gray-300">Personal and professional exposure</td>
                        <td class="px-4 py-2 border border-gray-300">I don't like TypeScript, but I appreciate what it does. It's sort of like the strict mom of JavaScript; you know it's right, and you know you should do what it says, but it's not very fun. It does do a very good job of letting you ease into it, though. And frankly, after my first interface, I was sold.</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Python</td>
                        <td class="px-4 py-2 border border-gray-300">Personal projects, some professional work</td>
                        <td class="px-4 py-2 border border-gray-300">I love Python. I don't get to use it on the job much, but it's the first thing I reach for when I'm working on a personal project (sorry node). The only way I can put it is that Python just sort of makes sense.</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">PHP</td>
                        <td class="px-4 py-2 border border-gray-300">Professional experience, none recent</td>
                        <td class="px-4 py-2 border border-gray-300">PHP 5 was the first scripting language I learned. Because I had experience with Pascal (yep, Pascal) and C, it felt very familiar. I have used it, but I cannot stand it. For some reason, it just doesn't jibe with me. It's the opposite of Python for me in that regard. I will say, however, that PHP has been about to die for at least ten years, and it's still not only standing but thriving, so you've got to respect it.</td>
                    </tr>
                </tbody>
            </table>
        </section>
            <section class="my-5">
            <table class="table-auto w-full border-collapse border border-gray-300">
                <thead>
                <tr>
                    <th class="px-4 py-2 border border-gray-300 bg-gray-200">Framework</th>
                    <th class="px-4 py-2 border border-gray-300 bg-gray-200">Context</th>
                    <th class="px-4 py-2 border border-gray-300 bg-gray-200">Notes</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">React</td>
                        <td class="px-4 py-2 border border-gray-300">8+ years of personal and professional use</td>
                        <td class="px-4 py-2 border border-gray-300">React is amazing. Hooks-based React made it, in my opinion, the absolute king of frontend libraries. Every new version makes it better, without pushing it into the territory of an actual framework—and I fully realize the irony of it leading this section. It really is "just JavaScript," or Typescript, as the case may be.</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Angular</td>
                        <td class="px-4 py-2 border border-gray-300">One very intense year building an application</td>
                        <td class="px-4 py-2 border border-gray-300">I actually worked with Angular.js years ago, which is an entirely different animal. When Microsoft took over Angular, they reworked the fundamentals for the better, I think. It's still a strange, opinionated framework, but it performs well, and, especially if you're in a Microsoft stack anyway, or working in Azure, it's a solid "batteries included" option. It leans into the reactive pattern, and while that takes some getting used to, it's actually a better state management strategy than Redux, I believe. I fell in love with observables while building the application I learned Angular for, so that influences my opinion here.</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Next.js</td>
                        <td class="px-4 py-2 border border-gray-300">A couple of personal projects</td>
                        <td class="px-4 py-2 border border-gray-300">Next is great, in part for the reason I mention above; if you remove the distinction between front and back end, you double the coverage of your development team. At any rate, Next is the predictable end-state of a lot of React-based apps, I think. Whatever your architecture looks like, having at least the first-contact backend be closely coupled with the frontend makes sense. Recent security issues are concering, however. I'm still bullish on Next, and would love to use it professionally.</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Flask</td>
                        <td class="px-4 py-2 border border-gray-300">Personal projects, like this website</td>
                        <td class="px-4 py-2 border border-gray-300">As part of my strange desire to use Python as much as possible, I've gone through a few cycles of reinventing my personal website using Python-based frameworks. I actually used Django and Wagtail for a few iterations that failed to launch. Problem is, I would get so fixated on configuration and models and all of the awesome features included that I'd lose track of my purpose. Flask, being so minimal, has been an absolute joy to work with. It reminds me favorably of Express, another framework that gives you the basics and then gets out of the way. Also, blueprints are really cool.</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Express</td>
                        <td class="px-4 py-2 border border-gray-300">A couple of personal projects, and a take-home code test years ago</td>
                        <td class="px-4 py-2 border border-gray-300">Not much to say here, other than it shares the qualities I like about Flask, with the added benefit of being in a language I have a lot of experience using. I think it shines in microservices.</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Tailwind</td>
                        <td class="px-4 py-2 border border-gray-300">A couple of years on personal projects</td>
                        <td class="px-4 py-2 border border-gray-300">Everyone should be using Tailwind. Speaking as a frontend developer, this solves so many problems with styling and markup. Atomic classes have been around for awhile, but adding a preprocessor turns out to be the magic sauce. Tailwind is the Holy Grail of CSS frameworks.</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Bootstrap</td>
                        <td class="px-4 py-2 border border-gray-300">Nearly my entire professional life, rarely personally</td>
                        <td class="px-4 py-2 border border-gray-300">Like hipsters and emo, I find that, while Bootstrap annoyed me to distraction when it was part of my life, in its absence I have come to appreciate it for what it is. Bootstrap never claimed to be an all-in-one styling solution. It's even in the name: "Bootstrap". It's for prototyping something with style rules that are inoffensive and largely there just to make it look like <em>something</em>. In practice, it's used (best-case scenario) as a sort of opinionated reset, or (worst-case scenario) as a full UI library. How you feel about Bootstrap tends to track with whether you were exposed to it during its "everything is a div" era.</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Testing Library</td>
                        <td class="px-4 py-2 border border-gray-300">5 years personal and professional use</td>
                        <td class="px-4 py-2 border border-gray-300">Everybody uses Jest, and everybody has this idea that unit test coverage is the metric for good code. That's bunk on the frontend, and Testing Library acknowledges that and solves the problem by scaling testing up to the integration level and testing user interactions, which are where you'll see the bugs that matter. Pair this with Cypress or Playwright and you've solved your testing problems.</td>
                    </tr>
                    <tr>
                        <td class="px-4 py-2 border border-gray-300">Django (mainly with Wagtail)</td>
                        <td class="px-4 py-2 border border-gray-300">A few personal projects over the years</td>
                        <td class="px-4 py-2 border border-gray-300">I hesitate to even include Django simply because what I've done with it is so limited compared to what it can do. It is a big ol' honkin' framework, but if you want a CMS that's pretty much ready to rock right off the bat, this is it. I've used it with and without Wagtail, and, for blogs, Wagtail is just amazing. I don't know why this hasn't entirely taken over WordPress's market share. It does everything WP does and more without being nearly as difficult to work with.</td>
                    </tr>
                </tbody>
            </table>
        </section>