{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block body %}
    <section>
        <h1 class="text-4xl font-display font-bold mb-4">Hey, friend!</h1>
        <p class="text-2xl font-body mb-4">If you want to get in contact with me, please do. There are a couple of ways.</p>
        <section class="mt-5 ml-5 text-xl font-body">
            <ul class="list-disc list-inside ">
                <li class="mb-2">Email is probably the easiest way to reach me. Get me at <a class="link" href="mailto:bill@williamwhorton.com">my homebrew email</a> or <a class="link" href="mailto:whorton@gmail.com">Gmail</a>.</li>
                <li class="mb-2">You can message me at LinkedIn, which is also a pretty reliable method. Here's my profile page. <a class="link" href="https://www.linkedin.com/in/williamwhorton/">https://www.linkedin.com/in/williamwhorton/</a></li>
            </ul>
        </section>
    </section>
{% endblock %}