{% extends 'base.html' %}
{% block title %}Journal{% endblock %}
{% block body %}
<h2 class="text-6xl font-display font-bold mb-8 underline underline-offset-10">Articles</h2>
<ul class="list-none list-inside">
    {% for article in articles %}
        <li class="mb-10">
            <a class="text-4xl text-gray-900 italic mb-4" href={{ url_for('main.journal_article', slug=article.meta.slug) }}>{{ article.meta.title }}</a>
            <p class="text-lg text-gray-500 italic">{{ article.meta.description | truncate }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}