{% macro render_project_writeup(project, index=0) %}
    <div class="grid grid-cols-12 gap-4 mb-6">
    {%  if project.meta['screenshot-path'] %}
        <div class="col-span-4 {{ 'order-last' if index % 2 == 0 else '' }} mb-4">
            <img src="{{ url_for('static', filename=project.meta['screenshot-path']) }}" alt="{{ project.meta['screenshot-alt'] or 'Project Screenshot' }}" class="w-full h-auto shadow-md">
        </div>
        <div class="col-span-8 {{ 'order-last' if index % 2 == 1 else '' }} project-writeup">
            {{ project | safe }}
        </div>
    {% else %}
        <div class="col-span-12 project-writeup">
        {{ project | safe }}
        </div>
    {% endif %}
    </div>
{% endmacro %}