@import "tailwindcss";


@font-face {
  font-family: 'Roboto Slab Variable';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/roboto-slab-latin-wght-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Serif';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/roboto-serif-latin-wght-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/roboto-latin-wght-normal.woff2') format('woff2');
}

@theme {
    --font-display: "Roboto Slab Variable", serif;
    --font-body: "Roboto Serif", serif;
    --font-heading: "Roboto", sans-serif;
}

@layer components {
  .link {
    @apply bg-blue-800 opacity-80 text-white rounded-md px-1;
  }
  .contact-form {
    input, textarea {
      @apply w-full p-2 mb-2 border-2 border-gray-300 rounded-md;
    }
  }
}

@layer utilities {
  .project-writeup {
    @apply  mb-4;
    h3 {
      @apply text-2xl font-display font-bold mb-2;
    }
    p {
      @apply text-xl mb-2;
    }
    a {
      @apply bg-blue-800 opacity-80 text-white rounded-md px-1;
    }
  }
  .journal-entry {
    @apply mb-4;
    h2 {
      @apply text-6xl font-display font-bold mb-6;
    }
    h3 {
      @apply text-4xl font-display font-bold mb-4;
    }
    p {
      @apply text-2xl mb-4;
    }
    a {}
    img {
      @apply mb-6 w-full h-auto;
    }
  }
  .mobile-menu {
    @apply w-12 h-12;
    background-image: url('../images/hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  #mobile-menu-container {
    anchor-name: --mmc;
  }

  .mobile-menu-list {
    position-anchor: --mmc;
    top: anchor(--mmc bottom);
    left: anchor(--mmc left);
    li {
      @apply block py-2;
    }
  }
}


