<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}
    <title>William Whorton - {% block title %}{%  endblock %}</title>
    {% endblock %}
</head>
<body class="bg-slate-50 font-body">
<nav class="bg-slate-200 py-5 px-5 pb-6 mask-b-from-90% mask-b-to-100%">
{% include 'components/main_nav.html' %}
</nav>
<main class="px-5">
{% block body %}
{% endblock %}
</main>
</body>
</html>