<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}
    <title>William Whorton - {% block title %}{%  endblock %}</title>
    {% endblock %}
</head>
<body class="bg-white font-body">
<header class="px-5 py-5 flex justify-between leading-none">
    <h1 class="text-4xl font-heading font-bold my-auto">William Whorton</h1>
    <nav id="mobile-menu-container" class="py-5 pb-6 w-24">
    {% include 'components/main_nav.html' %}
    </nav>
</header>

<main class="container mx-auto px-4 mb-100 mt-15">
{% block body %}
{% endblock %}
</main>
</body>
</html>